body {
	/* Местоположение фоновой картинки */   background-image: url(start_fon.png);
	/* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: center center;
	/* Фон не повторяется */   background-repeat: no-repeat;
	/* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */   background-attachment: fixed;
	/* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;
	/* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #464646; }
img {
	 max-width: 100%;
	 height: auto;
 }
ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
ul li {
	position: relative;
	list-style: none;
}
ul li a {
	position: relative;
	width: 240px;
	height: 100px;
	display: block;
	margin: 0 10px;
	padding: 5px 10px;
	color: yellow;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
  	text-transform: uppercase;
	transition: .5s;
	box-sizing: border-box;
}
ul li a span {
	position: absolute;
	top: calc(15% - 2px);
	width: 25%;
	height: 75%;
	background-color: yellow;
	z-index: -1;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .5s;
}
ul li a:hover {
	color: #000;
	text-decoration: none;
}
ul li a:hover span {
	transform-origin: bottom;
	transform: scaleY(1);
}
ul li a span:nth-child(1) {
	left: 0;
	transition-delay: 0s;
}
ul li a span:nth-child(2) {
	left: 25%;
	transition-delay: 0.15s;
}
ul li a span:nth-child(3) {
	left: 50%;
	transition-delay: 0.3s;
}
ul li a span:nth-child(4) {
	left: 75%;
	transition-delay: 0.45s;
}
